@using BomberGopnik.Shared
@inject NavigationManager Navigation
@page "/Gameover/{id:int}"


<div class="game-over-container">
    <h1>Game Over</h1>
    <div class="@MessageCssClass">@DecoratedMessage</div>

    <button @onclick="RedirectToGame">Start New Game</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private string DecoratedMessage = "Try again!";
    private string MessageCssClass = "message";



    protected override void OnInitialized()
    {
        IGameOverScreenDecorator decorator;
        decorator = Id == 1 ? new WinningDecorator() : new LosingDecorator();
        if (Id == 1) {
            decorator = new WinningDecorator();
        }

        DecoratedMessage = decorator.DecorateMessage(DecoratedMessage);
        if (decorator is WinningDecorator)
        {
            MessageCssClass = "message winning";
        }
        else
        {
            MessageCssClass = "message losing";
        }
    }
    private void RedirectToGame()
    {
        Navigation.NavigateTo("/game");
    }
}
