@page "/Game"
@using Microsoft.AspNetCore.SignalR.Client
@using BomberGopnik.Shared
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Game</PageTitle>

<div class="arena">
    @foreach (var player in players)
    {
        <div class="player" style="top: @player.Top%; left: @player.Left%; background-color: @player.Color;"></div>
    }
</div>
@if (!playerJoined)
{
    <button class="join-button" @onclick="JoinArena" disabled="@(!IsConnected && playerJoined)">Join Arena</button>
}




@code {
    private HubConnection? hubConnection;
    private List<Player> players = new List<Player>();
    bool playerJoined = false;

    protected override async Task OnInitializedAsync()
    {
        var lDotNetReference = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("GLOBAL.SetDotnetReference", lDotNetReference);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/arenahub"))
            .Build();

        hubConnection.On<List<Player>>("AssignPlayer", (existingPlayers) =>
        {
            foreach (var player in existingPlayers)
            {
                players.Add(player);
            }
            playerJoined = true;
            StateHasChanged();
        });

        hubConnection.On<Player>("PlayerJoined", (player) =>
        {
            players.Add(player);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }

    private async Task JoinArena()
    {
        if (hubConnection is not null && !playerJoined)
        {
            playerJoined = true;
            await hubConnection.SendAsync("JoinArena");
        }
    }
    [JSInvokable("KeyDown")]
    public Task KeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine(e.Code);
        foreach (var player in players)
        {
            Console.WriteLine(player.Left + " " + player.Top);
            switch (e.Code)
            {
              
                case "37":
                if (player.Left > 6){
                    changeLocation(-1, 0);
                }
                    break;
                case "38":
                if (player.Top > 6){
                    changeLocation(0, -1);
                }
                    break;
                case "39":
                if (player.Left < 94){
                    changeLocation(1, 0);
                }
                    break;
                case "40":
                if (player.Top < 94){
                    changeLocation(0, 1);
                }
                    break;
                default: break;
            }
        }
        return Task.CompletedTask;

    }

    private void changeLocation(int X, int Y)
    {
        var existingPlayer = players.FirstOrDefault(p => p.ConnectionId == hubConnection.ConnectionId);
        existingPlayer.Left += X;
        existingPlayer.Top += Y;
        StateHasChanged();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}

