body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body take up the full viewport height */
    margin: 0;
}

/* CSS for the square arena */
.arena {
    width: 300px; /* Set the width and height to create a square */
    height: 300px;
    border: 30px solid #000; /* Add a black border */
    position: relative; /* Position elements inside the arena */
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Three columns */
    grid-template-rows: repeat(7, 1fr); /* Three rows */
}
/* Style the grid cells */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* Adjust as needed */
    grid-template-rows: repeat(10, 30px); /* Adjust as needed */
    border: 10px solid black; /* Add border for visualization */
    width: fit-content; /* Adjust width as per grid size */ /* Add some padding */
    position: relative; /* Position for absolute positioning of players */
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid-item {
    width: 30px;
    height: 30px;
    
    background: url(grass.png); /* Set the path to your brick sprite */
    background-color: #cccccc;
}

.scoreboard {
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: relative;
}


/* Optional: Style for a player inside the arena */
.player {
    width: 30px;
    height: 30px;
    background: url(YellowPlayer.png); /* Red player */
    position: absolute;
    /*transition: top 0.1s, left 0.1s;*/
    

}

.bomb {
    width: 30px;
    height: 30px;
    background: url(bomb.png); /* Set the path to your brick sprite */
    top: 50%; /* Center vertically */
    left: 50%;
    position: absolute;
}

.explosion {
    width: 30px;
    height: 30px;
    background: url(explosion.png);
    position: absolute;
}


.specialBomb {
    width: 15px;
    height: 10px;
    background-color: green;
    border: dotted;
    position: absolute;
    
}

.join-button {
    margin-top: 20px; /* Add some space between arena and button */
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.brick {
    width: 30px;
    height: 30px;
    background: url(brick.png); /* Set the path to your brick sprite */
    background-color: #cccccc;
    position: absolute;
}
.box {
    width: 30px;
    height: 30px;
    background: url(box.png); /* Set the path to your brick sprite */
    background-color: #cccccc;
    position: absolute;
}
.pause-button {
    margin-top: 20px; /* Add some space between arena and button */
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}
.player-counter {
    font-size: medium;
    color: blue;
}
.paused-player {
    font-size: large;
    color: red;
}
.container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.mode-selection {
    border: 1px solid #ccc;
    padding: 10px;
}

.online-options {
    border: 1px solid #ccc;
    padding: 10px;
}
