body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the body take up the full viewport height */
    margin: 0;
}

/* CSS for the square arena */
.arena {
    width: 300px; /* Set the width and height to create a square */
    height: 300px;
    border: 30px solid #000; /* Add a black border */
    position: relative; /* Position elements inside the arena */
}

/* Optional: Style for a player inside the arena */
.player {
    width: 30px;
    height: 30px;
    background-color: #ff0000; /* Red player */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the player element precisely */
}

.bomb {
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border: dotted;
    position: absolute;
    transform: translate(-50%, -50%);
}

.join-button {
    margin-top: 20px; /* Add some space between arena and button */
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.brick {
    width: 30px;
    height: 30px;
    background-color: #AA4A44;
    position: absolute;
    transform: translate(-50%, -50%);
}

.box {
    width: 30px;
    height: 30px;
    background-color: #966F33;
    position: absolute;
    transform: translate(-50%, -50%);
}

.pause-button {
    margin-top: 20px; /* Add some space between arena and button */
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

.player-counter {
    font-size: medium;
    color: blue;
}

.paused-player {
    font-size: large;
    color: red;
}

.container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.mode-selection {
    border: 1px solid #ccc;
    padding: 10px;
}

.online-options {
    border: 1px solid #ccc;
    padding: 10px;
}
